html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main { 
    flex: 1; 
}

/* Navbar Styles*/
nav {
    background-color: #eeece1;
}

.nav-link {
    color: #5d645e;
    font-size: 14px;
    font-weight: bold;
    font-family: 'DM sans', sans-serif;
}

.nav-link.active {
    color: #193c2b;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.add-background {
    background-color: #193c2b;
    color: #eeece1;
    border-radius: 20px;
    padding: 5px 10px;
    text-decoration: none;
}

.add-background:hover {
    background-color: #193c2b;
    color: #eeece1;
}

.brand-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #193c2b;
    text-decoration: none;
}

.navbar-brand:hover {
    color: #193c2b;
    text-decoration: none;
}

.small-text {
    font-size: 0.7rem;
    margin-top: -5px;
}

/* Footer styles */
footer {
    margin-top: auto;
    background-color: #193c2b;
    color: #eeece1;
    padding: 20px 0;
}

.footer-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'DM serif Display', serif;
}

.footer-small-title {
    font-size: 12px;
    color: #d8b66b;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'DM sans', sans-serif;
}

.footer-small-title {
    margin-bottom: 10px;
}

.footer-small-title + p {
    margin-bottom: 5px;
}

.footer-small-title + p + p {
    margin-top: 0;
}

.footer-paragraph {
    font-size: 16px;
    font-family: 'DM sans', sans-serif;
    color: #cbd6ca;
}

/* Mobile Phone Style*/
@media (max-width: 768px) {

}

