/* JAG BÖRJAR MED ATT UTGÅ FRÅN MOBILSKÄRM NÄR JAG JOBBAR I CSS ihopne SE 375 x 667 px */

/* NOLLSTÄLLER WEBLÄSERENS STANDARD MARGINALER OCH SÄTTER ALL BOX-SIZING PÅ BORDEBOX, FÖR ATT FÅ MER KONTROLL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HÄMTAR FÄRGKOD FRÅN SKISSEN OCH SPARAR I VARIABLER */

:root {
    --font: "Arial, Helvetica, sans-serif";

    --green-color: #365d46;
    --bg1-color: #f7f3e9;
    --bg2-color: #e7e2d4;
    --bg3-color: #193c2b;

    --sid-padding-mobil: 4rem 1.1rem;
}

/* STANDARD FÖR TEXT TAGGAR */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 600;
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    font-weight: 400;

    margin-bottom: 1.5rem;

    color: var(--green-color);
}

p {
    font-family: Arial, Helvetica, sans-serif;

    letter-spacing: 0.1rem;
    line-height: 2rem;
}

/* ======= */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Navbar Styles*/

.navbar {
    background-color: var(--bg1-color) !important;
    /* background color funkar ej, tror det ligger från dina tidigare färginställningar */
} 

.brand-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--green-color);
    text-decoration: none;
}

.small-text {
    color: #5f5d57;
    font-size: 0.7rem;
    margin-top: -0.6rem;
}

.nav-link {
    color: #5d645e;
    font-size: 14px;
    font-weight: bold;
    font-family: "DM sans", sans-serif;
}

.nav-link.active {
    color: #193c2b;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.add-background {
    background-color: #193c2b;
    color: #eeece1;
    border-radius: 20px;
    padding: 5px 10px;
    text-decoration: none;
}

.add-background:hover {
    background-color: #193c2b;
    color: #eeece1;
}

.navbar-brand:hover {
    color: #193c2b;
    text-decoration: none;
}

/* === STARTSIDA === */

.startsida {
    /* Lägger bakgrundsbilden här för att den inte ska följa med när man scorllar neråt */
    background-image: 
    /* Blandar bild med gradient */
        linear-gradient(to right, rgba(54, 93, 70, 0.8), rgba(0, 0, 0, 0.3)),
        url(../Img/photo-1787951611386-b042ec1c6b13.jpg);

    background-size: cover;
    background-position: center;
    background-attachment: scroll;

    /* postition relative som ankare till knappen "add-background" */
    position: relative;

    /* FYLLER UT HELA FÖRSTA SIDAN (- HEADERNS HEIGHT) */
    height: calc(100vh - 5rem);

    padding: var(--sid-padding-mobil);
}

.startsida h6 {
    font-size: 0.7rem;
    text-align: center;

    margin-bottom: 1.5rem;
    padding: 0.3rem 1.5rem;

    color: rgba(255, 255, 255, 0.856);

    background-color: rgba(255, 255, 255, 0.2);
    /* frostat glas */
    backdrop-filter: blur(3px);

    border: 1px solid lightgray;
    border-radius: 30px;
}

.startsida h1 {
    color: white;
}

.titel-nyfärg {
    color: #d8b66b;
}

.startsida p {
    font-weight: 700;

    margin-top: 1rem;
    color: white;
}

.startsida-text .add-background {
    position: absolute;

    bottom: 4rem;
    padding: 0.7rem 1.5rem;

    font-family: Arial, Helvetica, sans-serif;

    font-weight: 600;
    color: var(--green-color);

    background-color: var(--bg1-color);

    border: 1px solid var(--green-color);
    border-radius: 30px;
}

/* === OM === */

.om {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    height: 100vh;

    padding: var(--sid-padding-mobil);

    background-color: var(--bg1-color);
}

/* === BILDER === */

.bilder-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 100vh;

    padding: var(--sid-padding-mobil);

    background-color: var(--bg2-color);
}

.bilder-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2.5rem;
}

.bild img{
   width: 100%;
   height: 100%;
   object-fit: cover;

   border-radius: 30px;
}

/* VÄNNER */

.bilder-text .add-background {
    align-self: flex-start;

    margin-top: 1.5rem;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: var(--bg1-color);

    background-color: var(--green-color);

    padding: 0.7rem 1.5rem;
    border-radius: 30px;
}

.vänner {
    min-height: 30vh;

    background-color: var(--bg1-color);

    padding: var(--sid-padding-mobil);
}

.vänner h6 {
    text-align: center;
    color: #5f5d57;
}

.partners {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;

    margin-top: 1.5rem;
}

.partners div {
    font-size: 1.5rem;
    color: #5f5d57;
}

/* Footer styles */

/* Tar bort bootstrap margin */
.mt-5 {
margin-top: 0 !important;     
}

footer {
    margin-top: auto;
    background-color: var(--green-color);
    color: #eeece1;
    padding: 20px 0;
}

.footer-title {
    color: var(--bg2-color);
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: "Arial, Helvetica, sans-serif";
    
}

.footer-paragraph {
    font-size: 16px;
    font-family: "Arial, Helvetica, sans-serif";
    color: var(--bg2-color);
    margin-bottom: 1.8rem;
}

.footer-small-title {
    font-size: 12px;
    color: #d8b66b;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Arial, Helvetica, sans-serif";
}

.footer-small-title {
    margin-bottom: 1rem;
    color: #d8b66b;
}

.footer-small-title + p {
    margin-bottom: 0.2rem;
}

.footer-small-title + p + p {
    margin-top: 0;
}

/* PAKET */

.paket {
    display: flex;
    flex-direction: column;
    background-color: var(--bg1-color);

    padding: var(--sid-padding-mobil);
}

.paket h1 {
    color: #365d46;
    font-size: 12px;
    font-family: "DM Sans", sans-serif;
    margin-bottom: 20px;
    letter-spacing: 0.2rem;
}

.paket h2 {
    color: #193c2b;
    font-size: 60px;
    font-weight: 700;
    font-family: "DM Serif Display", serif;
}

.paket p {
    color: #6d756d;
    font-size: 18px;
    font-family: "DM sans", sans-serif;
    line-height: 1.5rem;
}

.paket-section {
    display: flex;
    flex-direction: column;
    background-color: var(--bg1-color);
    width: 100%;
}

.paket-section article {
    width: 800px;
    margin: 0 0 50px 50px;
    overflow-x: auto;
    border-radius: 24px;
    line-height: 0;
}

.table {
    width: 1000px;
    min-width: 1000px;
    border-collapse: collapse;
    margin: 0;
}

.paket-section article::-webkit-scrollbar {
    height: 12px;
}

.paket-section article::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
}

.paket-section article::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.paket-section article::-webkit-scrollbar-thumb:hover {
    background: #555;
}

td h1 {
    color: #193c2b;
    font-size: 24px;
    font-family: "DM Serif Display", serif;
    margin-bottom: 20px;
}

td h2 {
    color: #7c847c;
    font-size: 12px;
    font-weight:100;
    font-family: "DM Sans", sans-serif;
    margin-bottom: 20px;
}

.table td,
.table th {
    text-align: center;
    vertical-align: middle;
}

.table td h1,
.table td h2 {
    text-align: left;
}

.table {
    width: 800px;
    margin-left: 5px;
    border-radius: 24px;
    overflow: scroll;
}

.table th {
    color: #626a62;
    background-color: #e8e4d8;
    font-size: 12px;
    font-family: "DM Sans", sans-serif;
    line-height: 1.5rem;
    padding: 20px 0 20px 20px;
    letter-spacing: 0.2rem;
}

.table td {
    color: #596159;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    line-height: 1.5rem;
    padding: 20px 0 20px 20px;
}

td button {
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    color: #f7f3e9;
    border-radius: 34px;
    padding: 6px 12px;
    background-color: var(--green-color);
    border: none;
}

td button a {
    color: #f7f3e9;
    text-decoration: none;
}

/* Om & Kontakt */
.kontakt-banner {
    display: flex;
    flex-direction: column;

    padding: var(--sid-padding-mobil);

    background-color: var(--bg3-color);
}

.kontakt-banner-rubrik {
    color: #52735d;
    font-size: 12px;
    font-family: "DM sans", sans-serif;
    margin: 0 0 14px 0;
    letter-spacing: 0.2rem;
}

.kontakt-banner-text h3 {
    color: #f7f3e9;
    font-size: 60px;
    font-family: "DM Serif Display", serif;
}

.kontakt-banner-text p {
    color: #cbd6ca;
    font-size: 20px;
    font-family: "DM sans", sans-serif;
    line-height: 1.5rem;
}

.guider {
    display: flex;
    flex-direction: column;

    padding: var(--sid-padding-mobil);

    background-color: var(--bg1-color);
}

.guider h2 {
    color: #365d46;
    font-size: 12px;
    font-family: "DM Sans", sans-serif;
    margin-bottom: 20px;
    letter-spacing: 0.2rem;
}

.guider h3 {
    color: #193c2b;
    font-size: 60px;
    font-weight: 700;
    font-family: "DM Serif Display", serif;
    margin-bottom: 20px;
}

.container-guide-kort {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.guide-kort {
    display: flex;
    flex-direction: column;
    width: 330px;
}

.guide-kort h4 {
    color: #193c2b;
    font-size: 24px;
    font-weight: 700;
    font-family: "DM Serif Display", serif;
    margin-top: 20px;
}

.guide-kort p {
    color: #6d756d;
    font-size: 14px;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
    line-height: 1.5rem;
}

#initialer-al, #initialer-me, #initialer-ob, #initialer-eh {
    width: 330px;
    height: 400px;
    border-radius: 24px;
    color: #284F4DB3;
    display: flex;
    align-items: flex-end;
    font-size: 60px;
    font-weight: bold;
    font-family: "DM Serif Display", serif;
    margin-bottom: 10px;
    padding-left: 20px;
}

#initialer-al {
    background-color: #cbd6ca;
}

#initialer-me {
    background-color: #dfcfae;
}

#initialer-ob {
    background-color: #b9c8b7;
}

#initialer-eh {
    background-color: #d8d3c4;
}

.kontakt-section {
    display: flex;
    flex-direction: column;

    padding: var(--sid-padding-mobil);

    background-color: #e4dfd1;
}

.kontakt-section h2 {
    color: #365d46;
    font-size: 12px;
    font-weight: 550;
    font-family: "DM Sans", sans-serif;
    margin-bottom: 20px;
    letter-spacing: 0.2rem;
}

.kontakt-section h3 {
    color: #193c2b;
    font-size: 48px;
    font-weight: 700;
    font-family: "DM Serif Display", serif;
    margin-bottom: 16px;
}

.kontakt-section p {
    color: #626a62;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    line-height: 1.5rem;
}

.kontakta-oss {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f7f3e9;
    padding: 25px;
    border-radius: 24px;
}

.formular-label {
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    color: #39483c;
}

.formular-rad {
    display: flex;
    gap: 20px;
}

.formular-grupp {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}

.kontakta-oss input,
.kontakta-oss textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 16px;
}

.kontakta-oss textarea {
    min-height: 150px;
    resize: vertical;
}

.kontakta-oss button {
    align-self: flex-start;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    color: #eeece1;
    border-radius: 24px;
    padding: 16px 28px;
    background-color: var(--green-color);
    border: none;
}